page-profile {
    .background{
        display: block;
        top: 0; 
        margin-top: -5%;
        background-image: url('../assets/img/blueBackground2.jpg');
    }

    .whitebackground{
        background-color: white;

    }

    .addbutton{
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top:0px;
        margin-bottom:0px;
    }

    scroll-content {
        display: flex;
        flex-direction: column;
    }

    .a{
        color: #919191;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        width:100%;
        bottom:0;
        padding:10px;
        margin-left:10px;
        text-align:left;
        vertical-align: bottom;

    }

    

    .item {
        margin-bottom: 5px;
        background: rgba(255, 255, 255, 0.5);
        border: medium none;      
        .text-input, {
            color: "primary";
        }
    }

    .p{
        text-transform: uppercase;
        position:relative;
        width:100%;

        padding:10px;
        margin-left:10px;
        text-align:left;
        
        color: #FFFFFF;
        font-size: 1.3em;
        font-weight: bold;
    }

    ion-card.card {
        box-shadow: none;
        background: rgba(255, 255, 255, 0.00);
        border-radius: 5px;
        position: relative;
        padding: none;
        margin: none;
    }

 
    .circle-pic img{
        position: center;
        left: 0;
        right: 0;
        bottom: 5;
        margin: 0 auto;
        margin-top:30px;
        margin-bottom:70px;
        padding: 0;
        top:10vw;
        
        height: 35vw; 
        width: 35vw; 
       border: 2px solid white;
       border-radius: 50%;
       box-shadow: 0 0 5px gray;
    }

}