page-profile {
    .background1{
        background-image: url('../assets/img/background.jpg');
    }

    .background2{
        background-color: "light";
    }


    scroll-content {
        display: flex;
        flex-direction: column;
    }

    a{
        position:absolute;
        width:100%;
        bottom:0;
        text-align:center;
        color: #919191;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;

    }

    p{
        text-transform: uppercase;
        position:absolute;
        width:100%;
        bottom:0;
        text-align:center;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;

    }
 
    ion-grid {
        border: none;
        padding: none;
        width:100%;
        height: 100%;
        text-align:center;

    }

    ion-card.card {
        box-shadow: none;
        background: #F9BE02;
        border-radius: 5px;
        padding: 5px;
        position: relative;
        font-family: 'Open Sans', sans-serif;
        color: #ffffff;
        
    }
 
    ion-row {
        flex: 1;
        vertical-align: bottom;

    }
 
    .circle-pic{
        position: absolute;
        left: 0;
        right: 0;
        margin:0 auto;
        top:20%;;
        align-items: center;
        height: 50vw; 
        width: 50vw; 
       border: 2px solid #F9BE02;
       border-radius: 50%;
       box-shadow: 0 0 5px gray;
       display: inline-block;

    }




}