page-profile {
    .background{
    background-color: rgb(247, 247, 247);
    }   

    ion-card.card {
        box-shadow: none;
        background: rgba(255, 255, 255, 0.00);
        border-radius: 5px;
      }



    .profiletop{
        position: relative;
        background-color: white;
        box-shadow: 1px 1px 1px rgb(196, 196, 196);
        vertical-align: middle;
        padding-bottom: 5px;
        margin-left:-2px;
        margin-right:-2px;
        padding-top: 10px;
        margin-top: -10px;

    }


    .button.button-block {
            border-radius: 5px;
            margin: 2px;
            height: 8vw;
    }

    .item{
        
        margin-top:-5px;
        margin-bottom: -5px;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: rgba(255, 255, 255, 0.00);
    } 

    .scroll-content {
        display: hidden;
        flex-direction: column;
        overflow: hidden;
    }

    h2{
        color: black;
        font-weight: bold;
        text-align:center;
        font-size: 1em;


    }

    h3{
        text-align:center;
        color: #0b4d6b;
        font-size: 1.2em;
    }



    .circle-pic{
        text-align:center;
        vertical-align: middle;
        left: 0;
        right: 0;
        height:23%;  
 
    img{
        position: center;
        text-align:center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 22px;

        height: 35vw; 
        width: 35vw; 
        border: 2px solid white;
        border-radius: 50%;
        box-shadow: 0 0 5px gray;
    }
}

}


