page-register {
    .background{
           background-image: url('../assets/img/background.jpg');
    }

    .scroll-content {
        align-content: center;
        justify-content: center;
        text-align: center;
    }

    .circle-pic{
        height: 5vw; 
        width: 5vw; 
       border: 2px solid #fff;
       border-radius: 50%;
       box-shadow: 0 0 5px gray;
       display: inline-block;
       margin-left: auto;
       margin-right: auto;
    }
    
    ion-card {
        position: relative; 
    }


    .item {
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: medium none;

    .text-input, {
        color: "primary";
    }
}

.button {
    align-content: center;
    position: relative
}

}



/*
ion-card.card {
    box-shadow: none;
    background: rgba(255, 255, 255, 0.50);
    border-radius: 5px;

}
*/

