page-bookings {
  .background {
    background-image: url('../assets/img/background.jpg');
  }


  .scroll-content {
    overflow: hidden;
    align-content: center;
    display: flex;
    flex-direction: column;

    text-align: center;
  }
}


ion-card.card {
  box-shadow: none;
  background: rgba(255, 255, 255, 0.50);
  border-radius: 5px;
}

.button {
  align-content: center;
  position: relative
}
