<ion-header>
    
      <ion-navbar>
      </ion-navbar>
    
      <ion-card>
            <ion-segment [(ngModel)]="bookings" *ngIf= "User">
              <ion-segment-button value="currentBookings">Current Bookings</ion-segment-button>
              <ion-segment-button value="pastBookings">Booking History</ion-segment-button>
            </ion-segment>

            <ion-segment [(ngModel)]="appointments" *ngIf= "Vet">
                    <ion-segment-button value="currentAppointments">Current Appointments</ion-segment-button>
                    <ion-segment-button value="pastAppointments">Appointment History</ion-segment-button>
            </ion-segment>
    </ion-card>
</ion-header>

<ion-content class="background" >

    <ion-card [ngSwitch]="bookings" *ngIf = "User">
      
        <ion-list *ngSwitchDefault>
            
            <ion-list>
              <div class="bookingcard">
                
                <ion-item *ngFor='let book of currentBookings'  >
                  <h2>{{book.year}}/{{book.month}}/{{book.day}}</h2>
                  <h3>Time: {{book.time}}</h3>
                  <h3>Status : {{book.status}}</h3>
                  <br>
                </ion-item>
              </div>
            </ion-list>

        </ion-list>
      
      <ion-list *ngSwitchCase="'pastBookings'">
          <ion-list>
              <div class="bookingcard">
                <ion-item *ngFor='let book of pastBookings'  >
                  <h2>{{book.year}}/{{book.month}}/{{book.day}}</h2>
                  <h3>Time: {{book.time}}</h3>
                  <h3>Status : {{book.status}}</h3> 
                  
                  <br>
                </ion-item>
              </div>
            </ion-list>
  
      </ion-list>
      
    </ion-card>
  </ion-content>