page-bookings {

  .background{
    background: rgb(247, 247, 247);;
  }

  ion-scroll{
    overflow-y: scroll;
    height: 200vh;
    .scroll-view{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      }
}




  
  .img_container{
    text-align: center;
    position: center;
  }

  .bookingheader{
    box-shadow: none;
    background: rgba(255, 255, 255, 0);
  }

  .bookingcard{
    background: white;
    box-shadow: 1px 1px 1px #A7A7A7;
    border-radius: 5px;
    height:380px;
    padding:30px;
    margin:10px;
    border: 0.5px solid  rgb(194, 194, 194);
  }

  .bookingcardPast{
    background: white;
    box-shadow: 1px 1px 1px #A7A7A7;
    border-radius: 5px;
    height:200px;
    padding:30px;
    margin:10px;
    border: 0.5px solid  rgb(194, 194, 194);

  }

  

  .item {
    background: rgba(255, 255, 255, 0.00);
  }

  
  h2{
    color: #0b4d6b;
    font-weight: bold;
  }

  h3{
    color: #717171;
    text-align: left;
    font-size: 10px;
  }

  p{
    color: #717171;
    text-align: left;
    font-size: 10px;
  }
  
  .toolbar-background {
    background-color: #0b4d6b;
  }

  .toolbar-title-md{
    color: white;
    font-family: roboto;
  }
  .toolbar-title-ios{
    color: white;
    font-family: roboto;  
  }  

  .scroll-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .vetProfilePicture{
    width: auto;
    height: 100%;
    display: block;
    margin: auto;
    align-items: center;
  }
  
  .info{
    vertical-align: bottom
  }
  
  .profilePicContainer{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin:auto;
  }
  
}

