page-bookings {
  .background {
    background-image: url('../assets/img/background.jpg');
  }

  
  .whitebackground{
    background-color: white;

  }
  .img_container{
    text-align: center;
    position: center;
  }
  

  
  .toolbar-background {
    background-color: #0b4d6b;
  }

  .toolbar-title-md{
    color: white;
    font-family: roboto;
  }
  .toolbar-title-ios{
    color: white;
    font-family: roboto;  
  }  

  .scroll-content {
    overflow: hidden;
    align-content: center;
    display: flex;
    flex-direction: column;

    text-align: center;
  }
}

