<!--
  Generated template for the BookingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class = "bookingheader"  >

      <ion-navbar>
    
        <ion-title>
          <span text-color="light"> Appointments </span>
        </ion-title>
    
      </ion-navbar>
    
      <br>
      <ion-card>
        <ion-segment [(ngModel)]="appointments">
          <ion-segment-button value="currentAppointments">Current Appointments</ion-segment-button>
          <ion-segment-button value="pastAppointments">Past Appointments </ion-segment-button>
        </ion-segment>
      </ion-card>
      <br>
      
</ion-header>
    
    
<ion-content class="background">

    <div *ngIf = "Vet">
        <ion-card [ngSwitch]="appointments">
          <ion-list *ngSwitchDefault>
      
            <ion-list>
              <div class="bookingcard">
                <ion-item *ngFor='let book of currentBookings'  >
                  <h2>{{book.year}}/{{book.month}}/{{book.day}}</h2>
                  <h3>User: {{generateUserData(book.userId)}}</h3>
                  <h3>Pet: {{generatePetData(book.petId)}}</h3>
                  <h3>Status : {{book.status}}</h3>
                  <button *ngIf="Online" color="secondary" ion-button (click)="confirm(book.bookingId)">Complete</button>
                  <br>
                </ion-item>
              </div>
            </ion-list>
          </ion-list>
          <ion-list *ngSwitchCase="'pastAppointments'">
              <ion-list>
                  <div class="bookingcard">
                    <ion-item *ngFor='let book of pastBookings'  >
                      <h2>{{book.year}}/{{book.month}}/{{book.day}}</h2>
                      <h3>User: {{generateUserData(book.userId)}}</h3>
                      <h3>Pet: {{generatePetData(book.petId)}}</h3>
                      <h3>Status : {{book.status}}</h3> 
                      <button *ngIf="Online" (click)= "goToHeap(book)">Heap Form</button>
                      <br>
                    </ion-item>
                  </div>
                </ion-list>
            
      
          </ion-list>
        </ion-card>
      </div>
  <div *ngIf = "User">
        <ion-card [ngSwitch]="appointments">
        
            <ion-list *ngSwitchDefault>
              
                 

                    <ion-slides loop="false" style="background-color: black">
                      <ion-slide *ngFor="let book of currentBookings">
                        <div class="bookingcard">
                          <div class = "profilePicContainer">
                            <img *ngIf="Online" class="vetProfilePicture" [src]="getImageUrl(book.vetId)">
                          </div>
                        <h3>Vet : {{generateVetData(book.vetId)}}</h3>
                        <h3>Pet: {{generatePetData(book.petId)}}</h3>
                        <h3>Date :{{book.year}}/{{book.month}}/{{book.day}} </h3>
                        <h3>Time: {{book.time}}</h3>
                        <h3>Status : {{book.status}}</h3>
                        <h3>Address: {{generateVetAddress(book.vetId)}}</h3>
                        <button *ngIf="Online" (click)="goMap(book.vetId)"><ion-icon name="locate"></ion-icon></button>
                      </div>
                      </ion-slide>
                    </ion-slides>
                  
                 

                <div class="img_container">
                  <button class="addbutton" ion-button icon-only (click)="makeBooking()">
                      <ion-icon name="ios-add-circle-outline"></ion-icon>
                    </button>
              </div>
          </ion-list>
        
        <ion-list *ngSwitchCase="'pastAppointments'">
            <ion-list>
                <div class="bookingcard">
                  <ion-item *ngFor='let book of pastBookings'  >
                    <h2>{{book.year}}/{{book.month}}/{{book.day}}</h2>
                    <h3>User: {{generateUserData(book.userId)}}</h3>
                    <h3>Pet: {{generatePetData(book.petId)}}</h3>
                    <h3>Vet : {{generateVetData(book.vetId)}}</h3>
                    <h3>Time: {{book.time}}</h3>
                    <h3>Status : {{book.status}}</h3> 
                    
                    <br>
                  </ion-item>
                </div>
              </ion-list>
    
        </ion-list>
        
      </ion-card>
    </div>

    
</ion-content>


  

    