page-pet {    
    .background{
    background-color: rgb(247, 247, 247);
    }   

    ion-card.card {
        box-shadow: none;
        background: rgba(255, 255, 255, 0.00);
        border-radius: 5px;
      }



    .profiletop{
        position: relative;
        background-color: white;
        box-shadow: 1px 1px 1px rgb(196, 196, 196);
        vertical-align: middle;
        padding-bottom: 5px;
        margin-left:-2px;
        margin-right:-2px;
        padding-top: 10px;
        margin-top: -10px;

    }

    .circle-pic img{
        position: relative;
        left: 5vw;
        right: 0;
        bottom: 5;
        margin: 10 auto;
        padding: 0;
        top:10vw;
        
        height: 35vw; 
        width: 35vw; 
       border: 2px solid white;
       border-radius: 50%;
       box-shadow: 0 0 5px gray;
    }

}


