page-UserStore{

    .itemcard{
        background: white;
        box-shadow: 1px 1px 1px #A7A7A7;
        border-radius: 5px;
        padding:10px;
        margin:2px;
        border: 0.5px solid  rgb(243, 243, 243);
        top:0px;
        margin-top: 0px;
        text-align: center;
        vertical-align: middle;
      }
    

}
